/* file input component */
.choose_btn {
  margin-top: 30px;
  color: white;
  background-color: rgb(2, 77, 2);
  padding: 10px;
  border: none;
}

/* img cropper component */
.action-btns {
  flex: flex;
  margin: auto;
  margin-top: 1%;
}

.shadow_frame {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.shadow_btn:hover {
  cursor: pointer;
}

.original_btn {
  font-size: small;
  border: 1px solid green;
  padding: 8px;
  border-radius: 10px;
}

.shadow_frame {
  display: flex;
  margin: auto;
  margin-top: 35%;
}

/* app component  */
/* default crop */
.after_crop {
  display: flex;
  margin: auto;
  width: 300px;
  height: 350px;
  border-radius: 25px;
  box-shadow: inset 0px 0px 80px 60px rgba(0, 0, 0, 0.5);
}

.crop {
  width: 300px;
  height: 350px;
  border-radius: 25px;
}

/* crop love */
.after_crop_love::after {
  content: "";
  width: 20px;
  height: 20px;
  background: red;
}

/* crop square */
.after_crop_square {
  display: flex;
  margin: auto;
  width: 250px;
  height: 250px;
  border-radius: 25px;
  box-shadow: inset 0px 0px 80px 60px rgba(0, 0, 0, 0.5);
}
.crop_square {
  width: 250px;
  height: 250px;
  border-radius: 25px;
}

/* crop circle */
.after_crop_circle {
  display: flex;
  margin: auto;
  width: 270px;
  height: 270px;
  border-radius: 50%;
  box-shadow: inset 0px 0px 80px 60px rgba(0, 0, 0, 0.5);
}
.crop_circle {
  width: 270px;
  height: 270px;
  border-radius: 50%;
}

/* crop after_crop_rectangle */
.after_crop_rectangle {
  display: flex;
  margin: auto;
  width: 350px;
  height: 250px;
  border-radius: 20px;
  box-shadow: inset 0px 0px 80px 60px rgba(0, 0, 0, 0.5);
}
.crop_rectangle {
  width: 350px;
  height: 250px;
  border-radius: 20px;
}

.cropped_img {
  transform: scale(1.03);
  filter: blur(8px);
  -webkit-filter: blur(1px);
  position: absolute;
  z-index: -2;
}

.btn {
  color: white;
  background-color: rgb(78, 117, 20);
  border-radius: 8px;
  border: none;
  margin: 4px;
  padding: 8px;
  cursor: pointer;
}
